**Topics**
- Tuples
- Dictionaries

In [2]:
empty=list()
empty1=[]

In [3]:
t=(1,2)
print(t)

(1, 2)

In [4]:
print(t[0])

1

In [5]:
t.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
t[0]=10

TypeError: 'tuple' object does not support item assignment

In [7]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [8]:
t.index(0)

ValueError: tuple.index(x): x not in tuple

In [9]:
t.index(2)

1

In [10]:
t.count(1)

1

In [11]:
t1=(2,3,4,5,6,1,1)
t1.count(1)

2

In [12]:
t1.count(8)

0

In [13]:
sum(t1)

22

In [14]:
max(t1)

6

In [15]:
min(t1)

1

In [17]:
print(max(t1),min(t1),sum(t1))

6 1 22

In [20]:
t2=(24,'python',True,77.5)
print(t2)
print(t2[0])
print(t2[2:])
t2[1][2] t # to access the second element'shird character

(24, 'python', True, 77.5)
24
(True, 77.5)

't'

In [23]:
t3 = (3,4,(34,67))
print(t3[2])    # to access the inside tuple
print(t3[2][1]) #to access the inside tuple's 1st element

(34, 67)
67

**create a lists of list .where each sublist consists 3 subject marks of the student**

In [24]:
student_marks=[[23,56,89],[45,56,76],[99,65,34]]
print(student_marks)

[[23, 56, 89], [45, 56, 76], [99, 65, 34]]

In [43]:
for student in range(len(student_marks)):
    #print(student_marks[student])
    print(student_marks[student]).append(sum(student_marks[student]))
student_marks

[23, 56, 89]
[45, 56, 76]
[99, 65, 34]

In [28]:
a=[6,8,9]
a.append(sum(a))
a

[6, 8, 9, 23]

In [29]:
for i in a:
    print(i)

6
8
9
23

In [31]:
#[7,9,10,24]
for i in a:
    print(i+1)

7
9
10
24

In [37]:
aplus=[]
for i in a:
    aplus.append(i+1)
print(aplus)

[7, 9, 10, 24]

In [38]:
print(a)

[6, 8, 9, 23]

In [40]:
list(range(len(a)))

[0, 1, 2, 3]

In [41]:
for i in range(len(a)):
    a[i] =a[i]+1

In [42]:
a

[7, 9, 10, 24]

In [44]:
#to access element 
for i in a:
    print(1,end=' ')
#line gap between two lists
print()
#to access the elements by using index
for i in range(len(a)):
    print(a[i],end=' ')

1 1 1 1
7 9 10 24

# Dictionary
- empty dictionary {},dict()
- {key1:value1,key2:value2}
- key and value are mapped by :
- items are seperated by ,
- each item in a dictionary is a key, value pair
- keys are unique values

In [45]:
d={'maths' :56,'english' :67,'physics' :45}
d['maths']

56

In [47]:
d['physics'] =77
d

{'maths': 56, 'english': 67, 'physics': 77}

In [48]:
#add a new item to the dictionary 
d['python']=78
d

{'maths': 56, 'english': 67, 'physics': 77, 'python': 78}

In [49]:
for i in d:
    print(i,end=' ')

maths english physics python

In [50]:
#accessing the  values using for loop
for i in d:
    print(d[i],end=' ')

56 67 77 78

In [52]:
#to calculate the sum of the values in the for loop
s=0
for i in d:
    s+=d[i]
print(s)

278

In [53]:
#to access keys
print(d.keys())
#to access values
print(d.values())
#to access key value pairs
print(d.items()) # list of tuples in a key value pair

dict_keys(['maths', 'english', 'physics', 'python'])
dict_values([56, 67, 77, 78])
dict_items([('maths', 56), ('english', 67), ('physics', 77), ('python', 78)])

In [54]:
#to calculate the sum of the values in a dictionary
sum(d.values())

278

In [55]:
for key,value in d.items():
    print(key,':',value)

maths : 56
english : 67
physics : 77
python : 78

In [56]:
help(d.update)

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [57]:
d.update({'total' : sum(d.values())})
print(d)

{'maths': 56, 'english': 67, 'physics': 77, 'python': 78, 'total': 278}

In [58]:
#to remove an item
d.pop('total')
print(d)

{'maths': 56, 'english': 67, 'physics': 77, 'python': 78}

 **create a dictionary with 3 students data**

**key  -student name**

**value- list of 3 subject marks of the student**

In [59]:
std_marks={'ram':[77,45,34],'sandy':[56,78,94],'rose':[67,89,92]}
std_marks

{'ram': [77, 45, 34], 'sandy': [56, 78, 94], 'rose': [67, 89, 92]}

**add total marks as the last element in the list for each student**

**Example o/p:**

**{'ram':[77,45,34,156]}**

In [60]:
std_marks['ram']

[77, 45, 34]

In [61]:
for k,v in std_marks.items():
    std_marks[k].append(sum(v))
std_marks

{'ram': [77, 45, 34, 156],
 'sandy': [56, 78, 94, 228],
 'rose': [67, 89, 92, 248]}