Loops

**For loop syntax**

In [ ]:
for i in "GITAM":
    print(i)

- range(start,stop,step)
- range(stop)
- range(start,stop)

In [ ]:

for i in range(5):
    print(i,end='\t')

In [ ]:
for i in range(5,10):
    print(i,end=' ')

In [ ]:
for i in range(5,20,10):
    print(i,end=' ')

In [ ]:
for i in range(5,100,5):
    print(i,end=' ')

In [ ]:
for i in range(100,5,-10):
    print(i,end=' ')

- generate even numbers below 100
- generate multiples of 7 in (23,140) both 23 and 140 are inclusive

In [ ]:
for i in range(0,100,2):
    print(i,end=' ')

In [ ]:
for i in range(28,147,7):
    print(i,end=' ')

In [ ]:
for i in range(23,141,1):
    if i%7==0:
        print(i,end=' ')

While syntax:
<pre>initialization
while comdition:
    statements 
    increment/decrement(variable updation)

In [ ]:
i=23
while i<=140:
    if i%7==0:
        print(i,end=' ')
    i=i+1

# read the numbers from keyboard. stop the reading whenever user enters done 
example:

input:

12

45

done

In [1]:
n=input("enter a number:")
while n!="done":
    print(n)
    n=input("enter a number: ")

enter a number:67
67
enter a number: 54
54
enter a number: 00
00
enter a number:

enter a number: done

**vowel count in a string**

Example:Gitam

o/p: 2

In [7]:
n=str(input("enter a string : "))
count=0
for i1 in n:
    if i1=='a'or i1=='e'or i1=='i'or i1=='o'or i1=='u' :
        count=count+1
print("the no of vowels are :",count)

enter a string : bhavya
the no of vowels are : 2

In [22]:
n=str(input("enter a string : "))
length=0
count=0
for i1 in n:
    length=length+1
    if i1=='a'or i1=='e'or i1=='i'or i1=='o'or i1=='u' :
        count=count+1
print("the no of vowels are :",count) 
print("number of consonants are: ",length-count)
if count==length-count:
    print("lucky name")

enter a string : bhavya
the no of vowels are : 2
number o consonants are:  4

In [19]:
marks=[24,33,36,54,49]
marks

[24, 33, 36, 54, 49]

In [20]:
for i in marks:
    print(i)

24
33
36
54
49

In [26]:
#to access the first element
print(marks[0])
print(marks[4])
print(marks[len(marks)-1])
print(marks[-1])
#no of elements in the list
print(len(marks))

25
49
49
49
5
25

In [28]:
#updating a value in a list
marks[0]=25
print(marks)

[25, 33, 36, 54, 49]

In [31]:
L=list(range(2,32,2))
L

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [32]:
#slicing listname[start;stop;step]
#by default start=0;stop=Len(l),step=1
print(L[:3])
print(L[0:3:1])

[2, 4, 6]
[2, 4, 6]

In [33]:
#to get alternate elements from the start
print(L[0::2])
print(L[0:len(L):2])

[2, 6, 10, 14, 18, 22, 26, 30]
[2, 6, 10, 14, 18, 22, 26, 30]

In [34]:
#reverse the list using slicing
print(L[::-1])

[30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [35]:
print(L[-1:-5:-1])

[30, 28, 26, 24]

In [36]:
marks

[25, 33, 36, 54, 49]

In [38]:
marks[3]

54

In [39]:
print(marks)
marks.append(55)
print(marks)

[25, 33, 36, 54, 49]
[25, 33, 36, 54, 49, 55]

In [41]:
#to remove last element
print(marks)
marks.pop()
print(marks)

[25, 33, 36, 54, 49]
[25, 33, 54, 49]

In [42]:
#to remove based on value
print(marks)
marks.remove(33)
print(marks)

[25, 33, 54, 49]
[25, 54, 49]

In [43]:
#remove element based on index
print(marks)
marks.pop(2)
print(marks)

[25, 54, 49]
[25, 54]

In [49]:
marks.append(19)
print(marks)

[25, 54, [24, 49, 54], 27, 19]

In [44]:
m1=[24,49,54]

In [45]:
marks.append(m1)

In [46]:
marks

[25, 54, [24, 49, 54]]

In [50]:
marks

[25, 54, [24, 49, 54], 27, 19]

In [51]:
marks.extend(m1) #concatenation of the list

In [52]:
marks

[25, 54, [24, 49, 54], 27, 19, 24, 49, 54]

In [53]:
s="bhavya"
print(s[0])
print(s[-1])
print(s[:4])

b
a
bhav

In [54]:
s[0]='a' #strings are immutable

TypeError: 'str' object does not support item assignment

## user defined functions

In [55]:
def Hello():
    print("Welcome to Gitam")

In [56]:
Hello()

Welcome to Gitam

In [57]:
print(print('check'))

check
None

In [58]:
print(print(Hello()))

Welcome to Gitam
None
None

In [62]:
#with an argument and without return value
def hellowithname(name):
    print("Welcome to Gitam",name)

In [63]:
hellowithname('python')

Welcome to Gitam python

In [64]:
#with two arguments and a return value
def power(a,b):
    return a**b

In [65]:
power(2,3)

8

In [66]:
res=power(2,3)
print(res)

8

In [69]:
def power1(a,b):
    print(a**b)

In [70]:
res1=power1(2,3)
print(res1)

8
None

In [71]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [72]:
help(power)

Help on function power in module __main__:

power(a, b)
    #with two arguments and a return value

In [73]:
def hellowithname(name='hello'):
    print('welcome to gitam',name)

In [74]:
hellowithname()

welcome to gitam hello

In [77]:
#function with default arguments
def hellowithname1(name='MR X'):
    print("Welcome to Gitam",name)

In [78]:
hellowithname()

welcome to gitam hello

In [79]:
hellowithname1('python')

Welcome to Gitam python

In [82]:
def hellowithfullname(fname,lname='sirobhushanam'):
    print('welcome to gitam',fname,lname)

In [83]:
hellowithfullname('bhavya')

welcome to gitam bhavya sirobhushanam

In [85]:
hellowithfullname(lname='sirobhushanam')

welcome to gitam bhavya sirobhushanam

In [86]:
def hellowithfullname(fname='bhavya',lname):
    print('welcome to gitam',fname,lname)

SyntaxError: non-default argument follows default argument (<ipython-input-86-041d7968fa76>, line 1)

In [87]:
while 0:
    print("check")

In [91]:
if -10.5:
    print('check')

check

In [93]:
n=5
while n==7:
    print(n)
    n=n+1

In [96]:
for i in range(5,5):
    print(i)

In [97]:
for i in range(5,-5):
    print(i)

In [98]:
L2=list(range(5,5))
L3=list(range(5,-5))

In [99]:
print(L2,L3)

[] []

In [100]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [102]:
s='gitam'
s.capitalize()

'Gitam'

In [103]:
s.lower()

'gitam'

In [104]:
strip,rstrip,lstrip,capitalize,swapcase,upper,lower,title,split

NameError: name 'strip' is not defined

In [ ]:
#calculate the number of unique characters in a string
#calculate no of words in paragraph